body {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  margin: 0;
}
h2 {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  font-weight: normal;
}
b {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: normal;
}
div {
  display: block;
}
.index-btn {
  display: block;
  width: 120px;
  padding: 10px;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
  text-align: center;
  border-radius: 5px;
  margin-top: 25px;
  font-weight: lighter;
}
.slide-btn {
  width: 220px;
}
.btn-app {
  background-color: #00ca74;
}
.btn-present {
  background-color: #efc84a;
}
.container {
  width: 880px;
  padding: 0 10px;
  margin: 0 auto;
}
.page-header {
  background-color: #eeeeee;
  margin-bottom: 75px;
}
.main-header {
  padding-top: 27px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}
.main-header-logo {
  float: left;
  width: 220px;
}
.main-header-navigation {
  float: left;
  width: 560px;
}
.main-header-navigation ul {
  margin: 0;
  padding: 0;
  padding-left: 90px;
  padding-top: 25px;
}
a {
  text-decoration: none;
  color: #000000;
}
.main-header-navigation li {
  display: inline-block;
  margin-right: 45px;
}
.basket {
  float: right;
  padding-top: 25px;
  padding-left: 30px;
}
.slide {
  display: none;
}
.slider-switcher {
  position: absolute;
  top: 320px;
}
.slider-switcher-1 {
  left: 48%;
}
.slider-switcher-2 {
  left: 50%;
}
.slider-switcher-3 {
  left: 52%;
}
.slider-switcher:checked + .slide {
  display: block;
}
.slide-info {
  min-height: 220px;
  padding: 60px 410px 60px 0;
  background-repeat: no-repeat;
}
.slide-info-1 {
  background-image: url(../img/slide1.png);
  background-position: right 50%;
}
.slide-info-2 {
  background-image: url(../img/slide2.png);
  background-position: right 50%;
}
.slide-info-3 {
  background-image: url(../img/slide3.png);
  background-position: right bottom;
}

.products-section {
  min-height: 380px;
  border-bottom: 2px solid #eeeeee;
}
.products {
  float: left;
  width: 240px;
  margin-right: 80px;
  padding-top: 134px;
  font-size: 15px;
  line-height: 22px;
}
.products-site {
  background-image: url(../img/products-site.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.products-app {
  background-image: url(../img/products-app.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.products-present {
  background-image: url(../img/products-present.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.products-present {
  margin-right: 0px;
}
.about-info {
  padding-top: 55px;
  padding-bottom: 35px;
  padding-right: 300px;
  background-image: url(../img/about-logo.png);
  background-repeat: no-repeat;
  background-position: right 50%;
}
.about-job {
  padding-bottom: 65px;
  min-height: 180px;
  border-bottom: 2px solid #eeeeee;
}
.about-job h2 {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #283136;
}
.about-job-orders {
  float: left;
  width: 580px;
}
.about-job-productivity {
  float: right;
  width: 240px;
}
.partners {
  padding-top: 40px;
  padding-bottom: 25px;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 85px;
  font-size: 0px;
}
.partners a {
  margin-right: 80px;
  opacity: 0.2;
}
.partners a:last-child {
  margin-right: 0px;
}
.main-footer {
  padding-top: 60px;
  padding-bottom: 65px;
}
.footer-social {
  float: left;
  width: 300px;
  margin-right: 20px;
}
.footer-promo {
  float: left;
  width: 560px;
}
.shop-title {
  width: 670px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 80px;
  text-align: center;
}
.shop-title b {
  font-size: 40px;
  text-transform: uppercase;
  line-height: 1.2;
}
.catalog {
  padding-bottom: 70px;
}
.catalog-filters {
  float: left;
  width: 240px;
  padding-right: 60px;
}
.catalog-content {
  float: right;
  width: 580px;
}
.catalog-item {
  float: left;
  margin-right: 80px;
  margin-bottom: 80px;
  padding-top: 30px;
  background-color: #f1f1f1;
  border-radius: 5px;
}
.catalog-item:nth-child(2n) {
  margin-right: 0px;
}
.catalog-item .item-action {
  display: none;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
