body {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  margin: 0;
}
h2 {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
}
b {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: normal;
}
div {
  display: block;
}
.btn {
  display: inline-block;
  width: 155px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  background-color: #f1f1f1;
  text-align: center;
  border-radius: 3px;
}
.btn-form {
  outline: none;
  border-style: none;
  font-weight: bold;
}
.btn-form:hover {
  background-color: #e5e5e5;
}
.btn-form:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px #b5b5b5;
}
.item-btn {
  width: 140px;
  background-color: #fb565a;
  font-size: 18px;
  color: #ffffff;
  font-weight: normal;
}
.item-btn:hover {
  background-color: #d6494d;
}
.item-btn:active {
  background-color: #b63538;
  box-shadow: inset 0 3px #9b2d30;
}
.paginator-btn {
  width: 38px;
  margin-right: 10px;
  font-weight: bold;
}
.paginator-btn:hover {
  background-color: #e5e5e5;
}
.paginator-btn:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px #b5b5b5;
}
.paginator-btn-current {
  width: 34px;
  padding: 8px 0;
  border: 2px solid #f1f1f1;
  background-color: #ffffff;
  margin-right: 10px;
  font-weight: bold;
}
.paginator-btn-next {
  width: 140px;
}
.slide-btn {
  width: 240px;
  color: #ffffff;
  background-color: #fb565a;
  margin-top: 25px;
}
.slide-btn:hover {
  background-color: #d6494d;
}
.slide-btn:active {
  background-color: #b63538;
  box-shadow: inset 0 3px #9b2d30;
}
.btn-site {
  background-color: #fb565a;
  color: #ffffff;
  width: 140px;
  margin-top: 25px;
}
.btn-site:hover {
  background-color: #d6494d;
}
.btn-site:active {
  background-color: #b63538;
  box-shadow: inset 0 3px #9b2d30;
}
.btn-app {
  background-color: #00ca74;
  color: #ffffff;
  width: 140px;
  margin-top: 25px;
}
.btn-app:hover {
  background-color: #01a25e;
}
.btn-app:active {
  background-color: #009053;
  box-shadow: inset 0 3px #007b47;
}
.btn-present {
  background-color: #efc84a;
  color: #ffffff;
  width: 140px;
  margin-top: 25px;
}
.btn-present:hover {
  background-color: #d6ae2c;
}
.btn-present:active {
  background-color: #c09b24;
  box-shadow: inset 0 3px #a3841f;
}
.container {
  width: 880px;
  padding: 0 10px;
  margin: 0 auto;
}
.page-header {
  background-color: #eeeeee;
  margin-bottom: 75px;
}
.main-header {
  padding-top: 27px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}
.main-header-logo {
  float: left;
  width: 220px;
}
.main-header-navigation {
  float: left;
  width: 560px;
}
.main-header-navigation ul {
  margin: 0;
  padding: 0;
  padding-left:100px;
  padding-top: 25px;
}
a {
  text-decoration: none;
  color: #000000;
}
.main-header a:hover {
  color: #fb565a;
}
.main-header a:active {
  color: #000000;
  opacity: 0.4;
}
.main-header .current {
  border-bottom: 2px solid #fb565a;
}
.main-header-navigation li {
  display: inline-block;
  margin-right: 45px;
}
.basket {
  float: right;
  padding-top: 25px;
  padding-left: 30px;
}
.slider {
  position: relative;
}
.slide {
  display: none;
}
.slider-switcher {
  position: absolute;
  top: 240px;
}
.slider-switcher-1 {
  left: 47.5%;
}
.slider-switcher-2 {
  left: 50%;
}
.slider-switcher-3 {
  left: 52.5%;
}
.slider-switcher:checked + .slide {
  display: block;
}
.slide-info {
  min-height: 220px;
  padding: 60px 410px 60px 0;
  background-repeat: no-repeat;
}
.slide-info-1 {
  background-image: url(../img/slide1.png);
  background-position: right 50%;
}
.slide-info-2 {
  background-image: url(../img/slide2.png);
  background-position: right 50%;
}
.slide-info-3 {
  background-image: url(../img/slide3.png);
  background-position: right bottom;
}

.products-section {
  min-height: 380px;
  border-bottom: 2px solid #eeeeee;
}
.products {
  float: left;
  width: 240px;
  margin-right: 80px;
  padding-top: 150px;
  font-size: 15px;
  line-height: 22px;
}
.products-site {
  background-image: url(../img/products-site.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.products-app {
  background-image: url(../img/products-app.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.products-present {
  background-image: url(../img/products-present.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.products-present {
  margin-right: 0px;
}
.about-info {
  padding-top: 55px;
  padding-bottom: 35px;
  padding-right: 300px;
  background-image: url(../img/about-logo.png);
  background-repeat: no-repeat;
  background-position: right 50%;
}
.about-job {
  padding-bottom: 65px;
  min-height: 180px;
  border-bottom: 2px solid #eeeeee;
}
.about-job ul {
  margin: 0;
  padding: 0;
  padding-left: 35px;
  padding-top: 25px;
}
.about-job li {
  padding-bottom: 25px;
}
.about-job h2 {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #283136;
}
.about-job-orders {
  float: left;
  width: 580px;
}
.about-job-productivity {
  float: right;
  width: 240px;
}
.partners {
  padding-top: 40px;
  padding-bottom: 25px;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 85px;
  font-size: 0px;
}
.partners a {
  margin-right: 80px;
  opacity: 0.2;
}
.partners a:hover {
  opacity: 1;
}
.partners a:active {
  opacity: 1;
}
.partners a:last-child {
  margin-right: 0px;
}
.main-footer {
  padding-top: 60px;
  padding-bottom: 65px;
}
.footer-social {
  float: left;
  width: 300px;
  margin-right: 20px;
}
.footer-promo {
  float: left;
  width: 560px;
}
.shop-title {
  width: 670px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 80px;
  text-align: center;
}
.shop-title b {
  font-size: 40px;
  text-transform: uppercase;
  line-height: 1.2;
}
.catalog {
  padding-bottom: 70px;
}
.catalog-filters {
  float: left;
  width: 240px;
  padding-right: 60px;
}
.catalog-filters-group {
  padding-bottom: 40px;
}
.catalog-filters-group ul {
  margin: 0;
  padding: 0;
  padding-top: 20px;
}
.catalog-filters-group li {
  list-style-type: none;
  line-height: 20px;
  padding-bottom: 20px;
}
.catalog-filters-group li:last-child {
  padding-bottom: 0;
}
.range-filter {
    width:240px;
    margin:auto;
    padding-top: 20px;
}
.range-controls {
    position:relative;
    height:80px;
    margin-bottom:15px;
    padding:0 30px;
    background:#f1f1f1;
    border-radius:5px;
    overflow:hidden;
}
.scale {
    margin-top:39px;
    height:2px;
    background:#d7dcde;
}
.bar {
    width: 140px;
    height:2px;
    background:#00ca74;
}
.toggle {
    position:absolute;
    top:30px;
    left:30px;
    width:4px;
    height:4px;
    border:8px solid white;
    background:#ababab;
    cursor:pointer;
    border-radius:50%;
}
.max-toggle {
    left:155px;
}
.price-controls input {
    width:55px;
    padding:8px 10px;
    margin-left:10px;
    border:none;
    background:#f1f1f1;
    font-size:16px;
    text-align:center;
    color:#283136;
    border-radius:5px;
    font-weight: 500;
}
.price-controls {
  text-transform: uppercase;
  color: #283136;
}
.min-price {
    margin-right:14px;
}
.catalog-content {
  float: right;
  width: 580px;
}
.catalog-sort-left a,
.catalog-sort-right a {
  opacity: 0.2;
}
.catalog-sort-left a:hover {
  opacity: 1;
}
.catalog-sort-right a:active {
  opacity: 1;
}
.catalog-sort-left {
  float: left;
}
.catalog-sort-right {
  float: right;
  width: 40px;
}
.catalog-sort-left ul {
  margin: 0px;
  padding: 0px;
  padding-bottom: 20px;
  font-size: 0;
}
.catalog-sort-left li {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 43px;
}
.catalog-sort-left .sort-current {
  opacity: 1;
  border-bottom: none;
}
.sort-item {
  border-bottom: 1px dotted #17cf80;
}
.sort-item:hover {
  border-bottom: 1px solid #00ca74;
}
.sort-item:active {
  border-bottom: none;
}
.sort-up,
.sort-down {
  font-size: 0;
}
.catalog-item {
  float: left;
  width: 240px;
  height: 240px;
  position: relative;
  margin-right: 80px;
  margin-bottom: 80px;
  padding-top: 30px;
  background-color: #f1f1f1;
  border-radius: 5px;
}
.catalog-item:nth-child(2n) {
  margin-right: 0px;
}
.catalog-item .item-action {
  display: none;
}
.catalog-item-dots {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  top: 10px;
  left: 30px;
}
.catalog-item-dots:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  right: 15px;
}
.catalog-item-dots:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  left: 15px;
}
.catalog-item:hover .item-action {
  display: block;
  position:absolute;
  top: 50px;
  left: 20px;
  background-color: #ffffff;
  width: 170px;
  height: 140px;
  text-align: center;
  padding: 30px 15px;
  font-size: 14px;
}
.catalog-item:hover {
  background-color: #797979;
}
.paginator {
  font-size: 0;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
